<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        <h2>{{ course.getCourseName }}</h2>
        <h3>{{ course.getCourseNum }}</h3>
    </body>
</html>
