<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
        <h2>Welcome to the Registrar</h2>
        <h3><a href="/courses">Add or view a course</a></h3>
        <h3><a href="/students">Add or view a student</a></h3>
        <h3><a href="/departments">Add or view a department</a></h3>
    </div>
  </body>
</html>
