<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        <h2>Student Name: {{ student.getName }}</h2>
        <h3>Enrollment Date: {{ student.getDate }}</h3>
        <h3>Classes: {{  }}</h3>

        <a href="/">Home</a>
    </body>
</html>
