<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        <h2>Student Name: {{ student.getName }}</h2>
        <h3>Enrollment Date: {{ student.getDate }}</h3>
        <form action='/{{ student.getId }}/delete_student' method='post'>
            <input name="_method" type="hidden" value="delete">
            <button type='submit'>Delete Student</button>
        </form>
        <a href="/">Home</a>
    </body>
</html>
